<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>PRANA Dashboard</title>
</head>

<body class="darkmode">
    <nav class="main-menu">
        <div>
            <ul>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-user nav-icon"></i>
                        <span class="nav-text">Profile</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a href="#">
                        <i class="fa fa-calculator nav-icon"></i>
                        <span class="nav-text">CFP Calculation</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="./predictionReport.html">
                        <i class="fa fa-bar-chart nav-icon"></i>
                        <span class="nav-text">Analytics</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-comments-o nav-icon"></i>
                        <span class="nav-text">Feedback</span>
                    </a>
                </li>
            </ul>
        </div>

        <ul>
            <li class="nav-item">
                <a href="#">
                    <i class="fa fa-sign-out nav-icon"></i>
                    <span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <section class="content">
        <div class="left-content">
            <div class="search-and-check">
                <form class="search-box">
                    <input type="text" placeholder="Search event..." />
                    <i class="bx bx-search"></i>
                </form>
                <form style="display: grid; justify-content: center;" oninput="
                    var batteryLifepanBeforeValue = Number(batteryLifeSpanBefore.value)
                    var likelyhoodValue = Number(likelyhood.value) / 100
                    var builtInEmissionsValue = Number(builtInEmissions.value)
                    var energySavedValue = Number(energySaved.value)
                    var strengthValue = Number(strength.value)
                    var numberValue = Number(number.value)
                    var likelyhoodBefore = 1 - (1 - likelyhoodValue) ** batteryLifepanBeforeValue
                    var lifespanBefore = batteryLifepanBeforeValue * likelyhoodBefore
                    var carbonIntensityBefore = builtInEmissionsValue / lifespanBefore
                    var batteryLifespanAfter = batteryLifepanBeforeValue + (batteryLifepanBeforeValue * energySavedValue / 100) * (strengthValue / 100)
                    var likelyhoodAfter = 1 - (1 - likelyhoodValue) ** batteryLifespanAfter
                    var lifespanAfter = batteryLifespanAfter * likelyhoodAfter
                    var carbonIntensityAfter = builtInEmissionsValue / lifespanAfter
                    var savedCarbonPerDevice = carbonIntensityBefore - carbonIntensityAfter
                    var totalSavedCarbon = savedCarbonPerDevice * numberValue
                    var equivalentInCars = totalSavedCarbon / 4600
                    co2kg.value = Math.round(totalSavedCarbon)
                    cars.value = Math.round(equivalentInCars)">
                    <label>Carbon emmissions from building, transporting, packaging, and end-of-life per device <span
                            class="hidden">(kg)</span>
                        <div class="slider">
                            <input type="range" min="0.01" max="1000" step="0.01" value="60.02"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input"
                                id="builtInEmissions" name="builtInEmissions" value="60.02"
                                oninput="this.previousElementSibling.value = this.value">
                            <span aria-hidden>kg</span>
                        </div>
                    </label>
                    <label>Average lifetime of battery before dark-mode intervention <span class="hidden">(years)</span>
                        <div class="slider">
                            <input type="range" min="0.1" max="30" step=".1" value="4"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input"
                                id="batteryLifeSpanBefore" name="batteryLifeSpanBefore" value="4"
                                oninput="this.previousElementSibling.value = this.value">
                            <span aria-hidden>years</span>
                        </div>
                    </label>
                    <label>
                        Average amount of energy saved using dark mode <span class="hidden">(%)</span>
                        <div class="slider">
                            <input type="range" min="0.1" max="100" step=".1" value="10"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input"
                                id="energySaved" name="energySaved" value="10"
                                oninput="this.previousElementSibling.value = this.value">
                            <span aria-hidden>%</span>
                        </div>
                    </label>
                    <label>Strength of relationship between battery usage, and battery life-time <span
                            class="hidden">(%)</span>
                        <div class="slider">
                            <input type="range" min="0.1" max="100" step="0.1" value="70"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input" id="strength"
                                name="strength" value="70" width="3rem"
                                oninput="this.previousElementSibling.value = this.value">
                            <span aria-hidden>%</span>
                        </div>
                    </label>
                    <label>Likelyhood someone will replace their device for a non-battery related reason any given year
                        <span class="hidden">(%)</span>
                        <div class="slider">
                            <input type="range" min="0.1" max="100" step=".1" value="20"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input" id="likelyhood"
                                name="likelyhood" value="20" oninput="this.previousElementSibling.value = this.value">
                            <span aria-hidden>%</span>
                        </div>
                    </label>
                    <label>Number of devices
                        <div class="slider">
                            <input type="range" min="1" max="1000000000" step="1" value="100000000"
                                oninput="this.nextElementSibling.value = this.value">
                            <input type="text" inputmode="numeric" pattern="[0-9]*" class="number-input" id="number"
                                name="number" value="100000000"
                                oninput="this.previousElementSibling.value = this.value">
                            <span></span>
                        </div>
                    </label>
                    <ul>
                        <li><output name="co2kg">140023112</output> kg of CO<sub>2</sub> per year

                        <li>Equivalent to the emissions of <output name="cars">56967</output> cars per year (USA)
                    </ul>
                </form>
                <div class="interaction-control-mobile interactions">
                    <i class="fa-regular fa-envelope notified"></i>
                    <i class="fa-regular fa-bell notified"></i>
                    <div class="toggle" onclick="switchTheme()">
                        <div class="mode-icon moon">
                            <i class="bx bxs-moon"></i>
                        </div>
                        <div class="mode-icon sun hidden">
                            <i class="bx bxs-sun"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">

            </div>
        </div>
        <!--<div class="right-content">
            <div class="interaction-control interactions">
                <i class="fa-regular fa-envelope notified"></i>
                <i class="fa-regular fa-bell notified"></i>
                <div class="toggle" onclick="switchTheme()">
                    <div class="mode-icon moon">
                        <i class="bx bxs-moon"></i>
                    </div>
                    <div class="mode-icon sun hidden">
                        <i class="bx bxs-sun"></i>
                    </div>
                </div>
            </div>

            <div class="analytics">
                <h1>Analytics</h1>
                <div class="analytics-container">
                    <div class="total-events">
                        <div class="event-number card">
                            <h2>Past Events</h2>
                            <p>20</p>
                            <i class="bx bx-check-circle"></i>
                        </div>
                        <div class="event-number card">
                            <h2>Upcoming Events</h2>
                            <p>3</p>
                            <i class="bx bx-timer"></i>
                        </div>
                    </div>

                    <div class="chart" id="doughnut-chart">
                        <h2>Distribution of Attended Events</h2>
                        <canvas id="doughnut"></canvas>
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</body>
<script src="../frontend scripts/dashboard.js"></script>

</html>